h1 {
    font-size: 4em;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0 0 .7em;
}

h1.wawjr3d {
    font-weight: normal;
}

#content {
    text-align: center;
}

.tweets {
    display: inline-block;
    text-align: left;
    max-width: 50em;
    min-width: 35em;
    vertical-align: top;
}

.tweets:before {
    content: url(/images/wawjr3d.player.png);
    display: inline-block;
    float: left;
    margin-right: 1em;
}

#twitter-widget-0 {
    width: 350px !important;
}

.tumblr {
    position: fixed;
    top: 0;
    right: 0;
}

@media only screen and (max-device-width: 29em), only screen and (max-width: 29em) {

    h1 {
        font-size: 3em;
        margin: .4em 0;
    }

    .tweets {
        min-width: 0;
        width: 85%;
    }

    .tweets:before {
        content: none;
    }

    #twitter-widget-0 {
        width: 100%;
    }

    .tumblr {
        position: static;
        margin-top: 2em;
    }

}
