h1 {
    font-size: 4em;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0 0 .7em;
}

h1.wawjr3d {
    font-weight: normal;
}

#content {
    text-align: center;
}

.tweets {
    display: inline-block;
    text-align: left;
    max-width: 50em;
    vertical-align: top;
}

.tweets:before {
    content: url(/images/wawjr3d.player.png);
    display: inline-block;
    float: left;
    margin-right: 1em;
}

.tweet_list li {
    padding: 1em .5em;
}

.view-all {
    padding-left: .5em;
}

@media only screen and (max-width: 29em) {

    h1 {
        font-size: 3em;
        margin: .4em 0;
    }

    .tweets:before {
        content: none;
    }
}