html,
body {
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a,
.link {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

a:hover,
.link:hover {
    color: #BBB;
    text-decoration: underline;
}

#container {
    position: relative;
    font: normal 1em arial, helvetica;
    min-height: 100%;
    padding-bottom: 1.4em;
    border-top: solid 1px #CCC;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wawjr3d {
    font-weight: bold;
    text-shadow: -0.06em 0 red, 0.06em 0 cyan;
}

.small.wawjr3d {
    background: url(/images/wawjr3d.small.png) no-repeat center left;
    text-shadow: none;
    padding-left: 20px;
}

header {
    height: 60px;
}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    background: #FFF;
    text-align: center;
    width: 100%;
    margin-top: -31px;
    border-bottom: solid 1px #CCC;
    z-index: 100;
    -moz-transition: margin-top .3s ease-out;
    -ms-transition: margin-top .3s ease-out;
    -webkit-transition: margin-top .3s ease-out;
    transition: margin-top .3s ease-out;
}

header nav:after {
    content: attr(data-menu-title);
    position: absolute;
    top: 100%;
    left: 60px;
    display: inline-block;
    overflow: hidden;
    background: #666;
    color: #FFF;
    font-size: .8em;
    text-align: center;
    padding: .3em 1.2em;
    border-width: 0 1px 1px;
    box-shadow: 0 0 5px #CCC;
    cursor: pointer;
    -moz-transition: opacity .3s ease-out .1s;
    -webkit-transition: opacity .3s ease-out .1s;
    transition: opacity .3s ease-out .1s;
    -webkit-animation: flashmenu 1.1s infinite alternate ease-out;
    -moz-animation: flashmenu 1s infinite alternate ease-out;
    -ms-animation: flashmenu 1s infinite alternate ease-out;
    animation: flashmenu 1s infinite alternate ease-out;
}

@keyframes flashmenu {
    from {
        box-shadow: 0 0 5px #CCC;
    }

    to {
        box-shadow: 0 0 10px #999;
    }
}

@-webkit-keyframes flashmenu {
    from {
        box-shadow: 0 0 5px #CCC;
    }

    to {
        box-shadow: 0 0 10px #999;
    }
}

header nav.open,
header nav.open:after {
    -moz-transition: none;
    -ms-transition: none;
    -webkit-transition: none;
    transition: none;
}

header nav.closing {
    -moz-transition: margin-top .5s ease-out;
    -ms-transition: margin-top .5s ease-out;
    -webkit-transition: margin-top .5s ease-out;
    transition: margin-top .5s ease-out;
}

header nav.open,
header nav:hover {
    margin-top: 0;
    -webkit-box-shadow: 0 0 5px #CCC;
    box-shadow: 0 0 5px #CCC;
}

header nav.open:after,
header nav:hover:after {
    opacity: 0;
    cursor: default;
}

header nav > ul { text-align: left; }
header nav > ul > li {
    display: inline-block;
    position: relative;
    background: #FFF;
    height: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

header nav > ul > li:hover {
    -webkit-box-shadow: 0 0 5px #CCC;
    box-shadow: 0 0 5px #CCC;
}

header nav li a {
    position: relative;
    z-index: 0;
}

header nav li ul {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background: #FFF;
    white-space: nowrap;
    height: auto;
    padding: 10px;
    z-index: 1;
    -moz-box-shadow: 0 0 5px #CCC;
    -webkit-box-shadow: 0 0 5px #CCC;
    -ms-box-shadow: 0 0 5px #CCC;
    box-shadow: 0 0 5px #CCC;
}

header nav li li {
    line-height: 25px;
    height: 25px;
}

header nav li li a {
    display: block;
}

header nav li:hover ul {
    display: block;
}

header nav li li:hover a {
    color: #666;
}

.view_all {
    font-weight: bold;
}

#content {
    max-width: 60em;
    padding: 1em;
    margin: 0 auto;
}

#content:after {
    content: "fixin clear one rule at a time";
    display: block;
    clear: both;
    font-size: 0;
    line-height: 0;
    text-align: -999px;
    height: 0;
    visibility: hidden;
}

h1 {
    font-size: 1.5em;
    font-family: 'Fredericka the Great';
    line-height: 1em;
    margin: .6em 0;
}

h2 {
    font-size: 1.25em;
    font-family: 'Fredericka the Great';
    line-height: 1.5em;
    margin: .8em .6em;
}

ul.todo {
    background: #EEE;
    font-size: 12px;
    width: 400px;
    margin: 15px;
    padding: 10px;
    border: solid 1px #666;
    box-shadow: 0 0 3px #666;
    -webkit-box-shadow: 0 0 3px #666;
}

ul.todo:before {
    content: "TODO:";
    display: block;
    color: #CCC;
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 5px;
}

ul.todo li {
    color: #666;
    line-height: 20px;
    list-style: disc outside;
    margin-left: 15px;
}

footer {
    position: fixed;
    bottom: 0;
    background: #FFF;
    font-size: .8em;
    line-height: 1em;
    padding: .4em;
    border-top: double 2px #CCC;
    border-right: double 2px #CCC;
}

@media only screen and (max-device-width: 29em), only screen and (max-width: 29em) {

    h1 {
        padding: 0 .3em;
    }

    #container {
        padding-bottom: 3em;
    }

    header {
        position: static;
        text-align: center;
        height: auto;
    }

    header nav {
        position: static;
        margin-top: 0;
    }

    header nav .small.wawjr3d {
        display: inline-block;
        background-position: center center;
        text-indent: -9999em;
    }

    header nav:after {
        content: none;
    }

    header nav:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    header nav > ul {
        display: table;
        text-align: inherit;
        width: 100%;
    }

    header nav li:hover ul {
        display: none;
    }

    header nav > ul > li {
        display: table-cell;
        padding-left: 5px;
        padding-right: 5px;
    }

    header nav > ul > li:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    #content {
        width: auto;
        padding: 0;
    }

    ul.todo {
        width: auto;
    }

    footer {
        position: absolute;
        text-align: center;
        width: 100%;
        border-right: 0 none;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .list a {
        display: block;
        padding: .5em;
        border-bottom: dotted 1px #CCC;
    }

    .list li:first-child a {
        border-top: dotted 1px #CCC;
    }
}
