<!DOCTYPE html>
<html lang="en-us">
<head>

  <title>Smiley faces | wawjr3d</title>

  {{> head}}

  <link rel="canonical" href="https://www.wawjr3d.com/smileys/">

  <meta name="description" content="All the smileys" />
  <meta name="keywords" content="wawjr3d, smiley, frowny, frowny face, css3" />

  <meta name="twitter:description" content="All the smileys">
  <meta name="twitter:title" content="Smiley faces | wawjr3d">
  <meta name="twitter:url" content="https://www.wawjr3d.com/smileys/">

  <meta property="og:description" content="All the smileys">
  <meta property="og:title" content="Smiley faces | wawjr3d">
  <meta property="og:url" content="https://www.wawjr3d.com/smileys/">

  <link href="/css/smileys/smileys.css" rel="stylesheet">
  <link href="/css/smileys/smileys_page.css" rel="stylesheet">
</head>
<body class="smiley-page">
  <template id="smiley">
    <div class="left eye"></div>
    <div class="right eye"></div>
    <div class="mouth"></div>
  </template>

  <form class="pick-a-smiley">
    <fieldset class="size">
      <legend>Size</legend>
      <input type="text" name="size" value="12">
      <div class="up"></div>
      <div class="down"></div>
    </fieldset>

    <fieldset>
      <legend>Mood</legend>

      <select name="mood">
        <option value="normal" selected="selected">Normal</option>
        <option value="elated">Elated</option>
        <option value="happy">Happy</option>
        <option value="frowny">Frowny</option>
      </select>
    </fieldset>

    <fieldset>
      <legend>Attitude</legend>

      <select name="specific">
        <option value="normal" selected="selected">Normal</option>
        <option value="inquisitive">Inquisitive</option>
        <option value="lying">Lying</option>
        <option value="honest">Honest</option>
        <option value="angry">Angry</option>
        <option value="constipated">Constipated</option>
      </select>

    </fieldset>
  </form>

  <div class="smiley"></div>

  {{> footer }}

  {{> analytics }}

  <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/js/smileys/smileys_page.js"></script>
  <script type="text/javascript" src="/js/smileys/smileys.js"></script>
</body>
</html>
