<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>Everybody Likes Brisket (2014-10-15) | wawjr3d</title>

  {{> head }}

  <link rel="canonical" href="https://www.wawjr3d.com/talks/everybody-likes-brisket.html">
  <meta name="description" content="Wayne Warner's talk Everybody Likes Brisket covers the isomorphic javascript framework Brisket. The talk details what Brisket is, how it works, and the value of using it for your projects." />

  <meta name="twitter:description" content="Wayne Warner's talk Everybody Likes Brisket covers the isomorphic javascript framework Brisket.">
  <meta name="twitter:title" content="Everybody Likes Brisket (2014-10-15) | wawjr3d">
  <meta name="twitter:url" content="https://www.wawjr3d.com/talks/everybody-likes-brisket.html">

  <meta property="og:description" content="Wayne Warner's talk Everybody Likes Brisket covers the isomorphic javascript framework Brisket.">
  <meta property="og:title" content="Everybody Likes Brisket (2014-10-15) | wawjr3d">
  <meta property="og:url" content="https://www.wawjr3d.com/talks/everybody-likes-brisket.html">

  <link href="/css/talks/pdf-page.css" rel="stylesheet">
</head>
<body class="content-page pdf-page">
  <div id="container">
    {{> header }}

    <div id="content">
      <div class="talk-content">
        <h1>Everybody Likes Brisket</h1>
        
        <div class="talk-meta">
          <time datetime="2014-10-15" class="date">(2014-10-15)</time>
          <div class="description">Wayne Warner's talk <em>Everybody Likes Brisket</em> covers the isomorphic javascript framework <a href="https://github.com/brisket/brisket">Brisket</a>. The talk details what <a href="https://github.com/brisket/brisket">Brisket</a> is, how it works, and the value of using it for your projects.</div>
        </div>

        <div class="pdf-container">
          <iframe 
            src="/talks/everybody-likes-brisket-optimized.pdf" 
            type="application/pdf"
            referrerpolicy="no-referrer"
            loading="lazy"
            title="Everybody Likes Brisket PDF"
          ></iframe>
        </div>

        <a href="/talks/everybody-likes-brisket-optimized.pdf" class="download-link download-button">Download PDF</a>
      </div>
    </div>

    {{> footer }}
  </div>

  {{> analytics }}
</body>
</html> 