<!DOCTYPE html>
<html lang="en-us">
<head>

  <title>talks | wawjr3d</title>

  {{> head }}

  <link rel="canonical" href="https://www.wawjr3d.com/talks">
  <meta name="description" content="Check out public talks delivered by Wayne Warner. This page lists the public technical talks by Wayne Warner." />
  <meta name="keywords" content="wawjr3d, talks" />

  <meta name="twitter:description" content="Check out public talks delivered by Wayne Warner">
  <meta name="twitter:title" content="talks | wawjr3d">
  <meta name="twitter:url" content="https://www.wawjr3d.com/talks">

  <meta property="og:description" content="Check out public talks delivered by Wayne Warner">
  <meta property="og:title" content="talks | wawjr3d">
  <meta property="og:url" content="https://www.wawjr3d.com/talks">
</head>
<body class="listing-page">

  <div id="container">
    {{> header }}

    <div id="content">
      <h1>talks</h1>

      {{> talks-list }}

    </div>

    {{> footer }}
  </div>

  {{> analytics }}
</body>
</html>
