<!DOCTYPE html>
<html>
<head>

  <title>practice | wawjr3d</title>

  {{> head }}

</head>
<body>

  <div id="container">
    {{> header }}

    <div id="content">
      <h1>talks</h1>

      {{> talks-list }}

    </div>

    {{> footer }}
  </div>

  {{> scripts }}
</body>
</html>
