<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>Responsive Video (2013-08-21) | wawjr3d</title>

  {{> head }}

  <link rel="canonical" href="https://www.wawjr3d.com/talks/responsive-video.html">
  <meta name="description" content="Public talk titled Responsive Video (2013-08-21) by Wayne Warner. The talk covers a CSS-only solution for implementing aspect ratio. This talk preceded the aspect-ratio CSS property becoming widely supported." />

  <meta name="twitter:description" content="Public talk titled Responsive Video (2013-08-21) by Wayne Warner">
  <meta name="twitter:title" content="Responsive Video (2013-08-21) | wawjr3d">
  <meta name="twitter:url" content="https://www.wawjr3d.com/talks/responsive-video.html">

  <meta property="og:description" content="Public talk titled Responsive Video (2013-08-21) by Wayne Warner">
  <meta property="og:title" content="Responsive Video (2013-08-21) | wawjr3d">
  <meta property="og:url" content="https://www.wawjr3d.com/talks/responsive-video.html">

  <link href="/css/talks/pdf-page.css" rel="stylesheet">
</head>
<body class="content-page pdf-page">
  <div id="container">
    {{> header }}

    <div id="content">
      <div class="talk-content">
        <h1>Responsive Video</h1>
        
        <div class="talk-meta">
          <time datetime="2013-08-21" class="date">(2013-08-21)</time>
          <div class="description">Wayne Warner's talk <em>Responsive Video</em> covers a CSS-only solution for implementing a <a href="https://videojs.com/">Video.js</a> video player responsively. A responsive video player is a key component to a responsive media website.</div>
        </div>

        <div class="pdf-container">
          <iframe 
            src="/talks/responsive-video-optimized.pdf" 
            type="application/pdf"
            referrerpolicy="no-referrer"
            loading="lazy"
            title="Responsive Video PDF"
          ></iframe>
        </div>

        <a href="/talks/responsive-video-optimized.pdf" class="download-link download-button">Download PDF</a>
      </div>
    </div>

    {{> footer }}
  </div>

  {{> analytics }}
</body>
</html> 