@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

body {
    font-family: "Lato", sans-serif;
}

.state {
    position: absolute;
    background: #25B72C;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 999;
}

.bad .state {
    background: #C50000;
}

.video-js ~ .video-js {
    margin-top: 1em;
}

style {
    display: block;
    white-space: pre;
}

style:hover {
    font-size: 150%;
}

style:before {
    content: "Extra CSS attempting to make video responsive";
    display: inline-block;
    background: #0033EE;
    color: #FFFFFF;
    font-size: 1.2em;
    margin: 1em 0 .5em;
}