<!DOCTYPE html>
<html>
<head>

  <title>projects | wawjr3d</title>

  {{> head }}

  <meta name="description" content="Check out some of the most interesting projects by Wayne Warner" />

  <meta name="twitter:description" content="Check out some of the most interesting projects by Wayne Warner">
  <meta name="twitter:title" content="projects | wawjr3d">
  <meta name="twitter:url" content="https://www.wawjr3d.com/projects">

  <meta property="og:description" content="Check out some of the most interesting projects by Wayne Warner">
  <meta property="og:title" content="projects | wawjr3d">
  <meta property="og:url" content="https://www.wawjr3d.com/projects">

  <link rel="canonical" href="https://www.wawjr3d.com/projects">
</head>
<body class="listing-page">

  <div id="container">
    {{> header }}

    <div id="content">
      <h1>projects</h1>

      {{> projects-list }}

    </div>

    {{> footer }}
  </div>

  {{> analytics }}
</body>
</html>
