<!DOCTYPE html>
<html>
<head>

  <title>arrows | wawjr3d</title>

  {{> head }}

  <meta name="description" content="Playing with CSS arrows by Wayne Warner" />

  <meta name="twitter:description" content="Playing with CSS arrows by Wayne Warner">
  <meta name="twitter:title" content="arrows | wawjr3d">
  <meta name="twitter:url" content="https://www.wawjr3d.com/practice/arrows.html">

  <meta property="og:description" content="Playing with CSS arrows by Wayne Warner">
  <meta property="og:title" content="arrows | wawjr3d">
  <meta property="og:url" content="https://www.wawjr3d.com/practice/arrows.html">

  <link rel="canonical" href="https://www.wawjr3d.com/practice/arrows.html">

  <style type="text/css">
    .arrow {
      display: inline-block;
      font-size: 0;
      line-height: 0;
      width: 0;
      height: 0;
      margin: 20px;
      border-color: transparent;
      border-style: solid;
      border-width: 40px;
    }

    .up.arrow {
      border-bottom-color: #000;
    }

    .right.arrow {
      border-left-color: #000;
    }

    .down.arrow {
      border-top-color: #000;
    }

    .left.arrow {
      border-right-color: #000;
    }

    .samesize .up.arrow {
      border-width: 0 20px 40px;
    }

    .samesize .right.arrow {
      border-width: 20px 0 20px 40px;
    }

    .samesize .down.arrow {
      border-width: 40px 20px 0;
    }

    .samesize .left.arrow {
      border-width: 20px 40px 20px 0;
    }

    .cssflower {
      display: inline-block;
      font-size: 0;
      line-height: 0;
      width: 0;
      height: 0;
      margin: 20px;
      border-style: dotted;
      border-color: red green yellow blue;
      border-width: 40px;
    }

    .doublething {
      display: inline-block;
      font-size: 0;
      line-height: 0;
      width: 0;
      height: 0;
      margin: 20px;
      border-style: double;
      border-color: red green yellow blue;
      border-width: 40px;
    }

    .squares {
      display: inline-block;
      font-size: 0;
      line-height: 0;
      width: 0;
      height: 0;
      margin: 20px;
      border-style: dashed;
      border-color: red green yellow blue;
      border-width: 40px;
    }
  </style>

</head>
<body class="content-page">

  <div id="container">
    {{> header }}

    <div id="content">
      <h1>Arrows</h1>

      <div class="simple">
        <div class="up arrow"></div>
        <div class="right arrow"></div>
        <div class="down arrow"></div>
        <div class="left arrow"></div>
        <div class="cssflower"></div>
        <div class="doublething"></div>
        <div class="squares"></div>
      </div>
      <div class="samesize">
        <div class="up arrow"></div>
        <div class="right arrow"></div>
        <div class="down arrow"></div>
        <div class="left arrow"></div>
      </div>
    </div>

    {{> footer }}
  </div>

  {{> analytics }}
</body>
</html>
