<!DOCTYPE html>
<html>
<head>

  <title>practice | wawjr3d</title>

  {{> head }}

  <meta name="description" content="A bunch of quick practice problems by Wayne Warner" />

  <meta name="twitter:description" content="A bunch of quick practice problems by Wayne Warner">
  <meta name="twitter:title" content="practice | wawjr3d">
  <meta name="twitter:url" content="https://www.wawjr3d.com/practice">

  <meta property="og:description" content="A bunch of quick practice problems by Wayne Warner">
  <meta property="og:title" content="practice | wawjr3d">
  <meta property="og:url" content="https://www.wawjr3d.com/practice">

  <link rel="canonical" href="https://www.wawjr3d.com/practice">
</head>
<body>

  <div id="container">
    {{> header }}

    <div id="content">
      <h1>practice</h1>

      {{> practice-list }}

    </div>

    {{> footer }}
  </div>

  {{> scripts }}
</body>
</html>
