<!DOCTYPE html>
<html>
<head>

  <title>List test | wawjr3d</title>

  {{> head }}

  <link href="/css/practice/list_test.css" rel="stylesheet">
</head>
<body class="content-page">

  <div id="container">

    {{> header }}

    <div id="content">
      <h1>List with too long items</h1>

      <ul class="too-long-list">
        <li>
          <span class="name">Wayne</span>
          <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
        </li>
        <li>
          <span class="name">Wayne</span>
          <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam velit sem, mattis non malesuada in. Nullam velit sem, mattis non malesuada in</span>
        </li>
        <li>
          <span class="name">Wayne</span>
          <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam velit sem, mattis non malesuada in</span>
        </li>
        <li>
          <span class="name">Wayne</span>
          <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam velit sem</span>
        </li>
        <li>
          <span class="name">Wayne</span>
          <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam velit sem, mattis non malesuada in</span>
        </li>
        <li>
          <span class="name">Wayne</span>
          <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam velit sem, mattis non malesuada in</span>
        </li>
        <li>
          <span class="name">Wayne</span>
          <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam velit sem, mattis non malesuada in</span>
        </li>
      </ul>
    </div>

    {{> footer }}

  </div>

  <script type="text/javascript">
    const list = document.querySelector('.too-long-list');

    list.querySelectorAll('.text').forEach(function(el) {
      if (el.scrollWidth <= el.offsetWidth) {
        return;
      }

      el.classList.add('long');
    });
  </script>

  {{> analytics }}
</body>
</html>
