  <meta charset="UTF-8" />
  <meta name="author" content="Wayne Warner" />

  <meta name="robots" content="index,follow">

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

  <link rel="icon" type="image/png" href="/favicon.png">

  <link href="//fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet" type="text/css">
  <link href="/css/reset.css" type="text/css" rel="stylesheet">
  <link href="/css/wawjr3d.css" type="text/css" rel="stylesheet">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@wawjr3d">
