<header class="main-header">
	<nav data-menu-title="menu">
		<ul>
			<li><a href="/" class="small wawjr3d">wawjr3d</a></li>
			<li>
				<a href="/projects/">projects</a>
				{{> projects-list }}
			</li>
			<li>
				<a href="/practice/">practice</a>
				{{> practice-list }}
			</li>
			<li>
				<a href="/talks/">talks</a>
				{{> talks-list }}
			</li>
			<li><a href="http://wawjr3d.tumblr.com/" target="_blank">blog</a></li>
		</ul>
	</nav>
</header>
