<ul class="list">
  <li><a href="https://codepen.io/wawjr3d/">Wayne Warner on Codepen</a></li>
  <li><a href="/practice/random-coding.html">Random Coding</a></li>
  <li><a href="/practice/test-suite.html">Test Suite</a></li>
  <li><a href="/practice/last-substring.html">Last Substring</a></li>
  <li><a href="/practice/calculator.html">Calculator</a></li>
  <li><a href="/practice/list.html">List with too long members</a></li>
  <li><a href="/practice/arrows.html">Arrows</a></li>
  <li><a href="/practice/audio-context.html">Audio Context</a></li>
</ul>
