<ul class="list">
  <li><a href="https://shop.oreilly.com/product/0636920042846.do">Building Isomorphic JavaScript Apps (Chapter 14)</a></li>
  <li><a href="https://github.com/brisket/brisket" target="_blank">Brisket<sup>TM</sup></a></li>
  <li><a href="/smileys/">smileys</a></li>
  <li><a href="/urldecoder/">url decoder</a></li>
</ul>
