<ul class="list">
    <li><a href="http://shop.oreilly.com/product/0636920042846.do">Building Isomorphic JavaScript Apps (Chapter 14)</a></li>
    <li><a href="https://github.com/bloomberg/brisket" target="_blank">Brisket<sup>TM</sup></a></li>
    <li><a href="https://doihavetomovemycar.nyc" target="_blank">doihavetomovemycar.nyc</a></li>
    <li><a href="/smileys/">smileys</a></li>
    <li><a href="/urldecoder/">url decoder</a></li>
    <li><a href="https://github.com/wawjr3d/generator-brisket" target="_blank">generator-brisket</a></li>
    <li><a href="http://uncledrphil.tumblr.com" target="_blank">LoveData</a></li>
</ul>
