<ul class="list">
  <li><a href="https://www.slideshare.net/WayneWarner/cooking-withbrisketppt">Cooking with Brisket (2014-12-17)</a></li>
  <li><a href="/talks/everybody-likes-brisket.html">Everybody Likes Brisket (2014-10-15)</a></li>
  <li><a href="/talks/responsive-video.html">Responsive Video (2013-08-21)</a></li>
</ul>
