:root {
  --wawjr3d-header-color: inherit;
}

@media (prefers-color-scheme: dark) {
  :root {
    --wawjr3d-header-color: var(--background);
  }
}

h1 {
  font-size: 4em;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0 0 .7em;
}

.wawjr3d-header {
  color: var(--wawjr3d-header-color);
  display: block;
  text-shadow: -0.06em 0 #ff4f4f, 0.06em 0 cyan;
  transition: color 0.2s ease, text-shadow 0.2s ease;
  cursor: cell;
}

.wawjr3d-header:hover {
  color: var(--text-color);
  text-shadow: 0 0 red, 0 0 cyan;
}

#content {
  text-align: center;
}

@media only screen and (max-device-width: 29em), only screen and (max-width: 29em) {

  h1 {
    font-size: 3em;
    margin: .4em 0;
  }

  .wawjr3d {
    width: 85%;
  }

}
