#practice-content ul { position: relative; width: 500px; }
#practice-content li { display: block; position: relative; *font-size: 0; height: 30px; border-top: solid 1px #000; z-index: 0; }
#practice-content li:first-child { border-top: 0 none; }
#practice-content span { float: left; *font-size: 16px; line-height: 30px; }
#practice-content .name { width: 90px; padding: 0 5px; }
#practice-content .text { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 400px; }
#practice-content li:hover { z-index: 1; }
#practice-content li:hover .long { position: absolute; top: -10px; background: #FFF; line-height: 1.2em; width: 500px; padding: 5px; border: solid 1px #000; white-space: normal; z-index: 99; }
